---

- name: Join worker node to the cluster
  ansible.builtin.command: >
    {{ hostvars['192.168.0.196']['kube_join_cmd'] }} --cri-socket=unix:///run/containerd/containerd.sock
  when: hostvars['192.168.0.196']['kube_join_cmd'] is defined
  args:
    creates: /etc/kubernetes/kubelet.conf
